as/wsdl/dab.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:12/dab/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="dab" targetNamespace="http://127.0.0.1:12/dab/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:12/dab/">
      <xsd:element name="mostrarrecintosentradas"
      	type="tns:mostrarrecintosentradas">

      </xsd:element>
      <xsd:element name="mostrarrecintossalidas"
      	type="tns:mostrarrecintossalidas">

      </xsd:element>

      <xsd:complexType name="mostrarrecintosentradas">

      	<xsd:attribute name="recinto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>

      <xsd:complexType name="mostrarrecintossalidas">
      	<xsd:sequence>
      		<xsd:element name="recinto" type="tns:recinto" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="recinto">
      	<xsd:attribute name="id" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="recinto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="subirentradas" type="tns:subirentradas"></xsd:element>
      <xsd:element name="subirsalidas" type="tns:subirsalidas">
      </xsd:element>

      <xsd:complexType name="subirentradas">
      	<xsd:attribute name="documento" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="recinto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="subirsalidas">
      	<xsd:sequence>
      		<xsd:element name="fecha" type="xsd:dateTime"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="mostrardabreciensubidoendradas"
      	type="tns:mostrardabreciensubidoendradas">
      </xsd:element>
      <xsd:element name="mostrardabreciensubidosalidas"
      	type="tns:mostrardabreciensubidosalidas">
      </xsd:element>

      <xsd:complexType name="mostrardabreciensubidoendradas">
      	<xsd:attribute name="fecha" type="xsd:dateTime"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="mostrardabreciensubidosalidas">
      	<xsd:sequence>
      		<xsd:element name="dab" type="tns:dabreporte"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="dabreporte">
      	<xsd:sequence>
      		<xsd:element name="reporte" type="tns:reportedab"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="recinto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="reportedab">
      	<xsd:attribute name="viaje" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="nroingreso" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="item" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="fechaingreso" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="fechabalanza" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="fecharecepcion" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="fechasalida" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="consignatario" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="bultosman" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="pesoman" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="bultorec" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="pesorec" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="saldopeso" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="saldobulto" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="mercancia" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="almacen" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="deposito" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="tmercancia" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="fechavenc" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="estado" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="dui" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="camion" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="chasis" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mostrarrecintosRequest">
    <wsdl:part element="tns:mostrarrecintosentradas" name="mostrarrecintosentradas"/>
  </wsdl:message>
  <wsdl:message name="mostrarrecintosResponse">
    <wsdl:part element="tns:mostrarrecintossalidas" name="mostrarrecintossalidas"/>
  </wsdl:message>
  <wsdl:message name="subirRequest">
  	<wsdl:part name="subirentradas" element="tns:subirentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subirResponse">
  	<wsdl:part name="subirsalidas" element="tns:subirsalidas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="mostrardabreciensubidoRequest">
  	<wsdl:part name="mostrardabreciensubidoendradas" element="tns:mostrardabreciensubidoendradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="mostrardabreciensubidoResponse">
  	<wsdl:part name="mostrardabreciensubidosalidas" element="tns:mostrardabreciensubidosalidas"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="dab">
    <wsdl:operation name="mostrarrecintos">
      <wsdl:input message="tns:mostrarrecintosRequest"/>
      <wsdl:output message="tns:mostrarrecintosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="subir">
    	<wsdl:input message="tns:subirRequest"></wsdl:input>
    	<wsdl:output message="tns:subirResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrardabreciensubido">
    	<wsdl:input message="tns:mostrardabreciensubidoRequest"></wsdl:input>
    	<wsdl:output message="tns:mostrardabreciensubidoResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dabSOAP" type="tns:dab">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="mostrarrecintos">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/dab/mostrarrecintos" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="subir">

  		<soap:operation soapAction="http://127.0.0.1:12/dab/subir" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="mostrardabreciensubido">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/dab/mostrardabreciensubido" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dab">
    <wsdl:port binding="tns:dabSOAP" name="dabSOAP">
      <soap:address location="http://127.0.0.1:14/dab/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
