db/wsdl/db.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:12/db/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="db" targetNamespace="http://127.0.0.1:12/db/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:12/db/">
      <xsd:element name="buscaritementradas"
      	type="tns:buscaritementradas">

      </xsd:element>
      <xsd:element name="buscaritemsalidas"
      	type="tns:resquery">

      </xsd:element>

      <xsd:complexType name="buscaritementradas">
      	<xsd:attribute name="item" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="resquery">
      	<xsd:sequence>
      		<xsd:element name="matriz" type="tns:filas" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="filas">
      	<xsd:sequence>
      		<xsd:element name="columnas" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insertaritementradas"
      	type="tns:insertaritementradas">
      </xsd:element>

      <xsd:complexType name="insertaritementradas">
      	<xsd:attribute name="item" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="res" type="tns:res"></xsd:element>

      <xsd:complexType name="res">
      	<xsd:attribute name="res" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buscaritemRequest">
    <wsdl:part element="tns:buscaritementradas" name="buscaritementradas"/>
  </wsdl:message>
  <wsdl:message name="buscaritemResponse">
    <wsdl:part element="tns:buscaritemsalidas" name="buscaritemsalidas"/>
  </wsdl:message>
  <wsdl:message name="insertaritemRequest">
  	<wsdl:part name="insertaritementradas" element="tns:insertaritementradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaritemResponse">
  	<wsdl:part name="insertaritemsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="db">
    <wsdl:operation name="buscaritem">
      <wsdl:input message="tns:buscaritemRequest"/>
      <wsdl:output message="tns:buscaritemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="insertaritem">
    	<wsdl:input message="tns:insertaritemRequest"></wsdl:input>
    	<wsdl:output message="tns:insertaritemResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbSOAP" type="tns:db">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="buscaritem">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscaritem" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertaritem">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertaritem" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="db">
    <wsdl:port binding="tns:dbSOAP" name="dbSOAP">
      <soap:address location="http://127.0.0.1:12/db/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
