db/wsdl/db.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:12/db/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="db" targetNamespace="http://127.0.0.1:12/db/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:12/db/">
      <xsd:element name="buscaritementradas"
      	type="tns:buscaritementradas">

      </xsd:element>
      <xsd:element name="resquery"
      	type="tns:resquery">

      </xsd:element>

      <xsd:complexType name="buscaritementradas">
      	<xsd:attribute name="item" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="resquery">
      	<xsd:sequence>
      		<xsd:element name="matriz" type="tns:filas" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="filas">
      	<xsd:sequence>
      		<xsd:element name="columnas" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insertaritementradas"
      	type="tns:insertaritementradas">
      </xsd:element>

      <xsd:complexType name="insertaritementradas">
      	<xsd:attribute name="item" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="res" type="tns:res"></xsd:element>

      <xsd:complexType name="res">
      	<xsd:attribute name="res" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscaragenciaentradas"
      	type="tns:buscaragenciaentradas">
      </xsd:element>
      <xsd:element name="buscaragenciaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscaragenciaentradas">
      	<xsd:attribute name="agencia" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertaragenciaentradas"
      	type="tns:insertaragenciaentradas">
      </xsd:element>
      <xsd:element name="insertaragenciaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertaragenciaentradas">
      	<xsd:attribute name="agencia" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscaroperadorentradas"
      	type="tns:buscaroperadorentradas">
      </xsd:element>
      <xsd:element name="buscaroperadorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscaroperadorentradas">
      	<xsd:attribute name="operador" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertaroperadorentradas"
      	type="tns:insertaroperadorentradas">
      </xsd:element>
      <xsd:element name="insertaroperadorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertaroperadorentradas">
      	<xsd:attribute name="operador" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscaragenciaoperadorentradas"
      	type="tns:buscaragenciaoperadorentradas">
      </xsd:element>
      <xsd:element name="buscaragenciaoperadorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscaragenciaoperadorentradas">
      	<xsd:attribute name="agenciaid" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="operadorid" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertaragenciaoperadorentradas"
      	type="tns:insertaragenciaoperadorentradas">
      </xsd:element>
      <xsd:element name="insertaragenciaoperadorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertaragenciaoperadorentradas">
      	<xsd:attribute name="agenciaid" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="operadorid" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarnaveentradas"
      	type="tns:buscarnaveentradas">
      </xsd:element>
      <xsd:element name="buscarnaveResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarnaveentradas">
      	<xsd:attribute name="nave" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarnaveentradas"
      	type="tns:insertarnaveentradas">
      </xsd:element>
      <xsd:element name="insertarnaveResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarnaveentradas">
      	<xsd:attribute name="nave" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="operadorid" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscartipocontenedorentradas"
      	type="tns:buscartipocontenedorentradas">
      </xsd:element>
      <xsd:element name="buscartipocontenedorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscartipocontenedorentradas">
      	<xsd:attribute name="tipo" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertartipocontenedorentradas"
      	type="tns:insertartipocontenedorentradas">
      </xsd:element>
      <xsd:element name="insertartipocontenedorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertartipocontenedorentradas">
      	<xsd:attribute name="tipo" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarcontenedorentradas"
      	type="tns:buscarcontenedorentradas">
      </xsd:element>
      <xsd:element name="buscarcontenedorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarcontenedorentradas">
      	<xsd:attribute name="contenedor" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarcontenedorentradas"
      	type="tns:insertarcontenedorentradas">
      </xsd:element>
      <xsd:element name="insertarcontenedorResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarcontenedorentradas">
      	<xsd:attribute name="contenedor" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="peso" type="xsd:float"></xsd:attribute>
      	<xsd:attribute name="tipoid" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarpuertoentradas"
      	type="tns:buscarpuertoentradas">
      </xsd:element>
      <xsd:element name="buscarpuertoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarpuertoentradas">
      	<xsd:attribute name="puerto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarpuertoentradas"
      	type="tns:insertarpuertoentradas">
      </xsd:element>
      <xsd:element name="insertarpuertoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarpuertoentradas">
      	<xsd:attribute name="puerto" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarmercanciaentradas"
      	type="tns:buscarmercanciaentradas">
      </xsd:element>
      <xsd:element name="buscarmercanciaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarmercanciaentradas">
      	<xsd:attribute name="mercancia" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarmercanciaentradas"
      	type="tns:insertarmercanciaentradas">
      </xsd:element>
      <xsd:element name="insertarmercanciaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarmercanciaentradas">
      	<xsd:attribute name="mercancia" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarservicioentradas"
      	type="tns:buscarservicioentradas">
      </xsd:element>
      <xsd:element name="buscarservicioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarservicioentradas">
      	<xsd:attribute name="servicio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarservicioentradas"
      	type="tns:insertarservicioentradas">
      </xsd:element>
      <xsd:element name="insertarservicioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarservicioentradas">
      	<xsd:attribute name="servicio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarimoentradas"
      	type="tns:buscarimoentradas">
      </xsd:element>
      <xsd:element name="buscarimoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarimoentradas">
      	<xsd:attribute name="imo" type="xsd:float"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarimoentradas"
      	type="tns:insertarimoentradas">
      </xsd:element>
      <xsd:element name="insertarimoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarimoentradas">
      	<xsd:attribute name="imo" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarconsignatarioentradas"
      	type="tns:buscarconsignatarioentradas">
      </xsd:element>
      <xsd:element name="buscarconsignatorioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarconsignatarioentradas">
      	<xsd:attribute name="consignatario" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="insertarconsignatarioentradas"
      	type="tns:insertarconsignatarioentradas">
      </xsd:element>
      <xsd:element name="insertarconsignatarioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="insertarconsignatarioentradas">
      	<xsd:attribute name="consignatario" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buscaritemRequest">
    <wsdl:part element="tns:buscaritementradas" name="buscaritementradas"/>
  </wsdl:message>
  <wsdl:message name="buscaritemResponse">
    <wsdl:part element="tns:resquery" name="buscaritemsalidas"/>
  </wsdl:message>
  <wsdl:message name="insertaritemRequest">
  	<wsdl:part name="insertaritementradas" element="tns:insertaritementradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaritemResponse">
  	<wsdl:part name="insertaritemsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaragenciaRequest">
  	<wsdl:part name="buscaragenciaentradas" element="tns:buscaragenciaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaragenciaResponse">
  	<wsdl:part name="buscaragenciasalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaragenciaRequest">
  	<wsdl:part name="insertaragenciaentradas" element="tns:insertaragenciaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaragenciaResponse">
  	<wsdl:part name="insertaragenciasalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaroperadorRequest">
  	<wsdl:part name="buscaroperadorentradas" element="tns:buscaroperadorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaroperadorResponse">
  	<wsdl:part name="buscaroperadorsalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaroperadorRequest">
  	<wsdl:part name="insertaroperadorentradas" element="tns:insertaroperadorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaroperadorResponse">
  	<wsdl:part name="insertaroperadorsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaragenciaoperadorRequest">
  	<wsdl:part name="buscaragenciaoperadorentradas" element="tns:buscaragenciaoperadorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaragenciaoperadorResponse">
  	<wsdl:part name="buscaragenciaoperadorsalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaragenciaoperadorRequest">
  	<wsdl:part name="insertaragenciaoperadorentradas" element="tns:insertaragenciaoperadorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertaragenciaoperadorResponse">
  	<wsdl:part name="insertaragenciaoperadorsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarnaveRequest">
  	<wsdl:part name="buscarnaveentradas" element="tns:buscarnaveentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarnaveResponse">
  	<wsdl:part name="buscarnavesalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarnaveRequest">
  	<wsdl:part name="insertarnaveentradas" element="tns:insertarnaveentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarnaveResponse">
  	<wsdl:part name="insertarnavesalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartipocontenedorRequest">
  	<wsdl:part name="buscartipocontenedorentradas" element="tns:buscartipocontenedorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartipocontenedorResponse">
  	<wsdl:part name="buscartipocontenedorsalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertartipocontenedorRequest">
  	<wsdl:part name="insertartipocontenedorentradas" element="tns:insertartipocontenedorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertartipocontenedorResponse">
  	<wsdl:part name="insertartipocontenedorsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarcontenedorRequest">
  	<wsdl:part name="buscarcontenedorentradas" element="tns:buscarcontenedorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarcontenedorResponse">
  	<wsdl:part name="buscarcontenedorsalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarcontenedorRequest">
  	<wsdl:part name="insertarcontenedorentradas" element="tns:insertarcontenedorentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarcontenedorResponse">
  	<wsdl:part name="insertarcontenedorsalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarpuertoRequest">
  	<wsdl:part name="buscarpuertoentradas" element="tns:buscarpuertoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarpuertoResponse">
  	<wsdl:part name="buscarpuertosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarpuertoRequest">
  	<wsdl:part name="insertarpuertoentradas" element="tns:insertarpuertoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarpuertoResponse">
  	<wsdl:part name="insertarpuertosalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarmercanciaRequest">
  	<wsdl:part name="buscarmercanciaentradas" element="tns:buscarmercanciaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarmercanciaResponse">
  	<wsdl:part name="buscarmercanciasalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarmercanciaRequest">
  	<wsdl:part name="insertarmercanciaentradas" element="tns:insertarmercanciaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarmercanciaResponse">
  	<wsdl:part name="insertarmercanciasalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarservicioRequest">
  	<wsdl:part name="buscarservicioentradas" element="tns:buscarservicioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarservicioResponse">
  	<wsdl:part name="buscarserviciosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarservicioRequest">
  	<wsdl:part name="insertarservicioentradas" element="tns:insertarservicioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarservicioResponse">
  	<wsdl:part name="insertarserviciosalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarimoRequest">
  	<wsdl:part name="buscarimoentradas" element="tns:buscarimoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarimoResponse">
  	<wsdl:part name="buscarimosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarimoRequest">
  	<wsdl:part name="insertarimoentradas" element="tns:insertarimoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarimoResponse">
  	<wsdl:part name="insertarimosalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarconsignatarioRequest">
  	<wsdl:part name="buscarconsignatarioentradas" element="tns:buscarconsignatarioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarconsignatarioResponse">
  	<wsdl:part name="buscarconsignatariosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarconsignatarioRequest">
  	<wsdl:part name="insertarconsignatarioentradas" element="tns:insertarconsignatarioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertarconsignatarioResponse">
  	<wsdl:part name="insertarconsignatariosalidas" element="tns:res"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="db">
    <wsdl:operation name="buscaritem">
      <wsdl:input message="tns:buscaritemRequest"/>
      <wsdl:output message="tns:buscaritemResponse"/>
    </wsdl:operation>
    <wsdl:operation name="insertaritem">
    	<wsdl:input message="tns:insertaritemRequest"></wsdl:input>
    	<wsdl:output message="tns:insertaritemResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaragencia">
    	<wsdl:input message="tns:buscaragenciaRequest"></wsdl:input>
    	<wsdl:output message="tns:buscaragenciaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaragencia">
    	<wsdl:input message="tns:insertaragenciaRequest"></wsdl:input>
    	<wsdl:output message="tns:insertaragenciaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaroperador">
    	<wsdl:input message="tns:buscaroperadorRequest"></wsdl:input>
    	<wsdl:output message="tns:buscaroperadorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaroperador">
    	<wsdl:input message="tns:insertaroperadorRequest"></wsdl:input>
    	<wsdl:output message="tns:insertaroperadorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscaragenciaoperador">
    	<wsdl:input message="tns:buscaragenciaoperadorRequest"></wsdl:input>
    	<wsdl:output message="tns:buscaragenciaoperadorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertaragenciaoperador">
    	<wsdl:input message="tns:insertaragenciaoperadorRequest"></wsdl:input>
    	<wsdl:output message="tns:insertaragenciaoperadorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarnave">
    	<wsdl:input message="tns:buscarnaveRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarnaveResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarnave">
    	<wsdl:input message="tns:insertarnaveRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarnaveResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscartipocontenedor">
    	<wsdl:input message="tns:buscartipocontenedorRequest"></wsdl:input>
    	<wsdl:output message="tns:buscartipocontenedorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertartipocontenedor">
    	<wsdl:input message="tns:insertartipocontenedorRequest"></wsdl:input>
    	<wsdl:output message="tns:insertartipocontenedorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarcontenedor">
    	<wsdl:input message="tns:buscarcontenedorRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarcontenedorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarcontenedor">
    	<wsdl:input message="tns:insertarcontenedorRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarcontenedorResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarpuerto">
    	<wsdl:input message="tns:buscarpuertoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarpuertoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarpuerto">
    	<wsdl:input message="tns:insertarpuertoRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarpuertoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarmercancia">
    	<wsdl:input message="tns:buscarmercanciaRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarmercanciaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarmercancia">
    	<wsdl:input message="tns:insertarmercanciaRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarmercanciaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarservicio">
    	<wsdl:input message="tns:buscarservicioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarservicioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarservicio">
    	<wsdl:input message="tns:insertarservicioRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarservicioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarimo">
    	<wsdl:input message="tns:buscarimoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarimoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarimo">
    	<wsdl:input message="tns:insertarimoRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarimoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarconsignatario">
    	<wsdl:input message="tns:buscarconsignatarioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarconsignatarioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarconsignatario">
    	<wsdl:input message="tns:insertarconsignatarioRequest"></wsdl:input>
    	<wsdl:output message="tns:insertarconsignatarioResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbSOAP" type="tns:db">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="buscaritem">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscaritem" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertaritem">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertaritem" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscaragencia">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscaragencia" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertaragencia">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertaragencia" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscaroperador">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscaroperador" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertaroperador">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertaroperador" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscaragenciaoperador">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscaragenciaoperador" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertaragenciaoperador">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertaragenciaoperador" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarnave">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarnave" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarnave">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarnave" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscartipocontenedor">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscartipocontenedor" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertartipocontenedor">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertartipocontenedor" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarcontenedor">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarcontenedor" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarcontenedor">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarcontenedor" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarpuerto">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarpuerto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarpuerto">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarpuerto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarmercancia">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarmercancia" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarmercancia">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarmercancia" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarservicio">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarservicio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarservicio">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarservicio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarimo">

  		<soap:operation soapAction="http://127.0.0.1:12/db/buscarimo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarimo">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarimo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarconsignatario">

  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/buscarconsignatario" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="insertarconsignatario">
  		<soap:operation
  			soapAction="http://127.0.0.1:12/db/insertarconsignatario" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="db">
    <wsdl:port binding="tns:dbSOAP" name="dbSOAP">
      <soap:address location="http://127.0.0.1:12/db/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
